$base-background-color: #406c06;

//Recommedation Container to contain all recommedation
.recommedationContainer{
    display: flex;
    gap: 1vw;
    padding: 1vw;
    background-color: $base-background-color;

    &>div{
        flex-grow: 1;
        
        &>img{
            width: 100%;
            height: 15vw;
        }
    }
}