.example-spacer {
    flex: 1 1 auto;
}

h1 {
    margin: 0%;
}

.form-control {
    height: 2vw;
}

.btn {
    height: 2.5vw;
}

.navbar {
    padding: 0px 16px 0px 0px;
    height: 60px;
    img {
        width: 180px;
        height: 100%;
    }
}
