<div class="container">
  <div class="card">
    <form (ngSubmit)="doSubmitForm()">

      <h1>Enter Details</h1>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input name="to" [(ngModel)]="data.to" matInput>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Input</mat-label>
        <input name="message" [(ngModel)]="data.message" placeholder="Need-Password" matInput>
      </mat-form-field>

      <div class="text-center">
        <mat-spinner *ngIf="flag" style="margin: auto;"></mat-spinner>
        <button [disabled]="flag" type="submit" mat-raised-button color="primary">Send</button>
        <button [disabled]="flag" type="reset" mat-raised-button color="accent">Reset</button>
      </div>

    </form>
  </div>
</div>

