.full-width{
  width:100%;
}
.card{
  width:60%;
  margin: auto;
  padding: 2%;
  background-color: rgb(245, 237, 244);
  h1{
    text-align: center;
  }
  button{
    margin: 1%;
  }
}

.container{
  margin-top: 2%;
}
