$box-shadow-color: #00000029;
$name-color:#666;
$base-color:#f37c2b;
$title-color:#fff;
$background-color: #fff;

//card padding and box-shadow
@mixin card($padding-value) {
    box-shadow: 0px 3px 6px $box-shadow-color;
    border-radius: 2vw;
    padding: $padding-value;
}

//title design
@mixin title($text-align-value) {
    background-color:$base-color;
    color:$title-color;
    text-align: $text-align-value;
    border-radius: 5px;
}

//detail design in type,size and price
@mixin detailDesign {
    display: grid;
    grid-template-columns: 30% 70%;

    &>p{
        color: $name-color;
        font-size: 1vw;
    }

    &>p:first-child{
        color: $base-color;
        font-size: 1.2vw;
    }
}

//default design of paragraph
p{
    margin: 0;
    font-family: SuisseIntl,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1.4vw;
}

//detail of product with image
.productDetail{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 1vw;
    margin: 2vw;

    .productImage{
        background-color: $background-color;
        height: fit-content;
        border-radius: 2vw;
        //image of product
        >img{
            @include card(1vw);
            width: 100%;
        }
    }

    //product detail part like name,price,discount,type,etc
    &>div:nth-child(2){
        display: flex;
        flex-direction: column;
        gap: 1vw;

        .productInfo,.productOffer{
            @include card(1vw);
            background-color: $background-color;
            border-radius: 2vw;
        }

        //product discounts
        .productOffer{
            display: grid;
            gap: 1vw;

            //title of discount 
            &>p:first-child{
                @include title(center);
            }

            //each discount of product
            .productDiscount{
                border: 1px solid $base-color;
                border-radius: 5px;

                //discount part of product
                &>div{
                    display: grid;
                    grid-template-columns: 53% 47%;
                    gap: 1vw;
                    margin: 1vw;

                    .productDiscountName{
                        color: $name-color;
                        padding-left: 1vw;
                    }

                    .productDiscountPercentage{
                        color: $base-color;
                        padding-right: 1vw;
                        text-align: right;

                    }

                    .productDiscountExpireTitle{
                        @include title(left);
                        padding-left: 1vw;
                        width: 9vw;
                    }

                    .productDiscountExpireDays{
                        padding-right: 1vw;
                        text-align: right;
                    }

                     .toggle_arrow{
                        grid-column-start: 2;
                        text-align: end;
                        padding-right: 1vw;

                        &>img{
                            width: 1vw;
                        }
                    }

                     .titleDescription{
                        padding-left: 1vw;
                    }

                     .discountDescription{
                         grid-column: span 2;
                    }
                }
            }

            //product discount hovering affect
            .productDiscount:hover{
                box-shadow: 0px 3px 6px $base-color;
            }
        }

        //product detail
        .productInfo{

            &>p:first-child{
                @include title(center);
            }

            &>div{
                display: flex;
                justify-content: space-between;

                //div which contain name,type and size
                &>div:first-child{
                    flex-grow: 2;
                }

                //product and shop name
                .productName{
                    color: $name-color;
                }

                //product type
                .productType{
                    @include detailDesign();
                }

                .productRealPrice{
                   @include detailDesign();
                }

                .productDescription{
                    display: flex;
                    justify-content: space-between;
                }

                .Product_toggle_arrow{
                    text-align: end;
                    padding-right: 1vw;

                    &>img{
                        width: 1vw;
                    }
                }
            }
        }
    }
}

//heading of the product page
h2{
    margin-left: 2vw;
}
