<mat-card style="background-color: rgb(204, 215, 221);">
  <mat-action-list>
    <div mat-subheader>Menu</div>
    <button mat-list-item routerLink="/admin">
      <mat-icon mat-icon>dashboard</mat-icon>&nbsp;Dashboard
    </button>
    <button mat-list-item routerLink="/admin/profile">
      <mat-icon mat-icon>account_circle</mat-icon>&nbsp;Profile
    </button>
    <button mat-list-item routerLink="/admin/stores">
      <mat-icon mat-icon>store</mat-icon>&nbsp;Manage Stores
    </button>
    <button mat-list-item routerLink="/admin/add-store">
      <mat-icon mat-icon>add_circle_outline</mat-icon>&nbsp;Add Stores
    </button>
    <!-- <button mat-list-item routerLink="/admin/shop-products">
      <mat-icon mat-list-icon>book</mat-icon>Products
    </button> -->
    <!-- <button mat-list-item routerLink="/admin/add-product">
      <mat-icon mat-list-icon>add_circle_outline</mat-icon>Add Product
    </button> -->
  </mat-action-list>


</mat-card>
